@use "colors";

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

* {
  color: var(--color-foreground);
}

body {
  background-image: linear-gradient(to right, #ffcdb9, #FFC0CB);
  html.dark & {
    background-image: linear-gradient(to right, #1b1b17, #2a2a27);
  }
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/bg.avif');
  html.dark & {
    background-image: url('/bg-dark.avif');
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
}
*/

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
ul,
ol,
li,
td,
th
{
  font-family: 'Comic Neue', 'Klee One', sans-serif;
  letter-spacing: .75px;
  word-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  color: var(--color-foreground);

  &.emphasize {
    color: var(--color-primary);
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
}

h4 {
  font-size: 1.35rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5em;
}
