@use "colors";

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

* {
  color: var(--color-foreground);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    120deg,
    #ffcdb9,
    #ffc0cb,
    #ffd6a5,
    #bde0fe
  );
  background-size: 300% 300%;
  animation: gradientMove 15s ease infinite;

  html.dark & {
    background: linear-gradient(
      120deg,
      #1b1b17,
      #2a2a27,
      #24243e,
      #141e30
    );
    background-size: 300% 300%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/bg.avif');
  html.dark & {
    background-image: url('/bg-dark.avif');
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -1;
}
*/

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
ul,
ol,
li,
td,
th
{
  font-family: 'Comic Neue', 'Klee One', sans-serif;
  letter-spacing: .75px;
  word-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  color: var(--color-foreground);

  &.emphasize {
    color: var(--color-primary);
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 1.6rem;
  font-weight: normal;
}

h4 {
  font-size: 1.35rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5em;
}
